<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Cat Picture Gallery</title>
    <link rel="stylesheet", type="text/css", href="static/css/styles.css">
</head>
<body>
    <div class="top">
        <h1 class="title"><a href="{{ url_for('index') }}">Kipper's Gallery</a></h1>
        <div class="forms">
        <form class="add-image-form form" action="{{ url_for('add_image') }}" method="post">
            <input class="add-button" type="submit" value="Add an Image" name="submit">
        </form>
        <form class="delete-image-form form" action="{{ url_for('delete_image') }}" method="post">
            <input class="delete-button" type="submit" value="Delete an Image" name="submit">
        </form>
        </div>
        <hr class="submit-line">
    </div>
    <div class="image-gallery">
        {% for image in images %}
            <img class="image" src="{{ 'static/img/' + image }}">
        {% endfor %}
    </div>
</body>
</html>