<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Cat Picture Gallery</title>
    <link rel="stylesheet", type="text/css", href="static/css/styles.css">
</head>
<body>
    <div class="top">
        <h1 class="title"><a href="{{ url_for('index') }}">Flask Cat Picture Gallery</a></h1>
    </div>
    <div class="rg-div">
        <img class="rg" src="../static/img_login/IMG_1635.JPG">
    </div>
    <div class="login-section">
        <form method="post" action="" class="login-form">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <h2 class="login-flash">{{ message }}</h2>
                {% endfor %}
            {% endwith %}
            {% for field in form %}
                <div class="field">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="notification error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                     {{ field(placeholder=field.label.text) }}
                </div>
            {% endfor %}
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</body>
</html>